<app-title title="Peril trabajador"/>

<div  class="w-full p-2 bg-white border border-gray-200 rounded-lg shadow sm:p-4 dark:bg-gray-800 dark:border-gray-700">
    <div class="items-center  p-6">
   
        <div class="max-w-5xl mx-auto bg-white rounded-lg shadow dark:bg-gray-800">
          <div class="flex items-center space-x-4">
            <img [src]="" alt="Profile Image" class="w-16 h-16 rounded-full" />
            <div class="flex-1">
              <h5 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Luis Manuel Mercado Salazar</h5>
              <p class="text-sm text-gray-500 dark:text-gray-400">Cédula: 0011225950008U</p>
              <p class="text-sm text-gray-500 dark:text-gray-400">Código: 1004500045</p>
              <p class="text-sm text-gray-500 dark:text-gray-400">INS: 124500045</p>
            </div>
            <button class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 
                focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:border-blue-500 
                dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800">
              Editar
            </button>
          </div>
        
          <div class="mt-4 space-y-6">
            <!-- Información Laboral -->
            <section>
              <div class="flex justify-between items-center mb-2">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Información Laboral</h3>
                <button class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 
                    focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-xs px-3 py-1 dark:border-blue-500 
                    dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800">
                  Editar
                </button>
              </div>
              <div class="grid grid-cols-2 gap-4">
                <div>
                  <p class="text-sm font-medium text-gray-500 dark:text-gray-400">Cargo</p>
                  <p class="dark:text-white">Desarrollador de Sistemas</p>
                </div>
                <div>
                  <p class="text-sm font-medium text-gray-500 dark:text-gray-400">Área</p>
                  <p class="dark:text-white">División de Desarrollo de Sistemas</p>
                </div>
                <div>
                  <p class="text-sm font-medium text-gray-500 dark:text-gray-400">Tipo de Contrato</p>
                  <p class="dark:text-white">Indefinido</p>
                  <p class="text-sm font-medium text-gray-500 dark:text-gray-400">Fecha de Inicio</p>
                  <p class="dark:text-white">12/02/2022</p>
                </div>
                <div>
                  <p class="text-sm font-medium text-gray-500 dark:text-gray-400">Estado del Contrato</p>
                  <span class="inline-flex items-center px-2 py-1 rounded text-xs font-medium bg-blue-600 text-white">
                    Activo
                  </span>
                  <p class="text-sm font-medium text-gray-500 dark:text-gray-400">Fecha de Inicio</p>
                  <p class="dark:text-white">12/02/2024</p>
                </div>
              </div>
            </section>
        
            <!-- Información de Contacto -->
            <section>
              <div class="flex justify-between items-center mb-2">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Información de Contacto</h3>
                <button class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 
                    focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-xs px-3 py-1 dark:border-blue-500 
                    dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800">Editar</button>
              </div>
              <div>
                <p class="text-sm font-medium text-gray-500 dark:text-gray-400">Dirección</p>
                <p class="dark:text-white">Managua, Managua</p>
              </div>
              <div class="grid grid-cols-2 gap-4 mt-2">
                <div>
                  <p class="text-sm font-medium text-gray-500 dark:text-gray-400">Teléfono 1</p>
                  <p class="dark:text-white">77558844</p>
                  <p class="text-sm font-medium text-gray-500 dark:text-gray-400">Teléfono 2</p>
                  <p class="dark:text-white">89068899</p>
                </div>
                <div>
                  <p class="text-sm font-medium text-gray-500 dark:text-gray-400">Usuario del Sistema</p>
                  <p class="dark:text-white">luismanuel&#64;uncsm.edu.ni</p>
                  <p class="text-sm font-medium text-gray-500 dark:text-gray-400">Correo Personal</p>
                  <p class="dark:text-white">luismanuel&#64;personal.ni</p>
                </div>
              </div>
            </section>
        
            <!-- Información Personal -->
            <section>
              <div class="flex justify-between items-center mb-2">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Información Personal</h3>
                <button class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 
                    focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-xs px-3 py-1 dark:border-blue-500 
                    dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800">
                  Editar
                </button>
              </div>
              <div class="grid grid-cols-2 gap-4">
                <div>
                  <p class="text-sm font-medium text-gray-500 dark:text-gray-400">Sexo</p>
                  <p class="dark:text-white">Masculino</p>
                </div>
                <div>
                  <p class="text-sm font-medium text-gray-500 dark:text-gray-400">Estado Civil</p>
                  <p class="dark:text-white">Casado</p>
                </div>
              </div>
            </section>
        
            <!-- Acceso a Submódulos -->
            <section>
              <div class="flex justify-between items-center mb-2">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Acceso a Submódulos</h3>
                <button class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 
                    focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-xs px-3 py-1 dark:border-blue-500 
                    dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800">
                  Editar
                </button>
              </div>
              <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
                <thead class="bg-gray-50 dark:bg-gray-700">
                  <tr>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:text-gray-300 uppercase tracking-wider">
                      Módulo
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 dark:text-gray-300 uppercase tracking-wider">
                      Nivel de Acceso
                    </th>
                  </tr>
                </thead>
                <tbody class="bg-white dark:bg-gray-800 divide-y divide-gray-200 dark:divide-gray-700">
                  <tr>
                    <td class="px-6 py-4 whitespace-nowrap font-medium text-gray-900 dark:text-white">
                      Inicio
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                      <span class="inline-flex items-center px-2 py-1 rounded text-xs font-medium">
                        Administración
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </section>
          </div>
        </div>
    </div>
</div>