<!--button (click)="goBack()" 
        type="button" 
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
  <svg class="w-5 h-5 inline-block mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
  </svg>
  Atrás
</button-->
<app-title title="Peril"/>

<div  class="w-full p-2 bg-white border border-gray-200 rounded-lg shadow sm:p-4 dark:bg-gray-800 dark:border-gray-700">
    <div class="flex items-center justify-between p-4">
        <!-- Sección de Texto a la Izquierda -->
        <div class="text-left mr-4">  
            <h5 class="text-3xl font-bold text-gray-900 dark:text-white"> {{persona?.nombres}} {{persona?.apellidos}} </h5>
            <h4 class="text-lg font-bold text-gray-900 dark:text-white"> {{UserNet.email}} </h4>
            <p class=" text-base text-gray-500 sm:text-lg dark:text-gray-400"> {{sexo?.nombre}} - {{callFormato()}} </p> 
           

            @if(entidad.codigo!=0)
            {
                <p class="text-base text-gray-500 sm:text-lg dark:text-gray-400"><i>INSS</i> - {{entidad.codigo}}</p> 
            }
            <button  class="text-white  bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2 inline-flex items-center">
                <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.779 17.779 4.36 19.918 6.5 13.5m4.279 4.279 8.364-8.643a3.027 3.027 0 0 0-2.14-5.165 
                        3.03 3.03 0 0 0-2.14.886L6.5 13.5m4.279 4.279L6.499 13.5m2.14 2.14 6.213-6.504M12.75 7.04 17 11.28"></path>
                </svg>
                <span class="ml-2">Editar</span>
            </button> 
        </div>
    
        <!-- Sección de Imagen a la Derecha -->
        @if(imageUrl != null)
        {
          <div class="rounded-full overflow-hidden w-40 h-40 flex-shrink-0">
            <img [src]="imageUrl" alt=" " class="w-full h-full object-cover">
          </div>
        }
        @else {
            <button class="text-white  bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2 inline-flex items-center">
                <svg class="w-6 h-6 text-white" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                    <path fill-rule="evenodd" d="M7.5 4.586A2 2 0 0 1 8.914 4h6.172a2 2 0 0 1 1.414.586L17.914 6H19a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h1.086L7.5 4.586ZM10 12a2 2 0 1 1 4 0 2 2 0 0 1-4 0Zm2-4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Z" clip-rule="evenodd"/>
                  </svg>
                  
                  
                <span class="ml-2">Agregar Imagen</span>
            </button> 
        }
    </div>

    <div class="items-center pt-6 justify-center space-y-4 sm:flex sm:space-y-0 sm:space-x-4 rtl:space-x-reverse">
        <a  class="w-full sm:w-auto  bg-gray-700 hover:bg-blue-300  focus:ring-4 focus:outline-none focus:ring-gray-300 
        text-white rounded-lg inline-flex items-center justify-center px-4 py-2.5 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700">
            <div class="text-center rtl:text-center ">
                <div class="mb-1 text-lg">Dependencia</div>
                <div class="-mt-1 font-sans text-sm font-semibold">{{entidad!.dependencia?.nombre}}</div>
            </div>
        </a>

        <a  class="w-full sm:w-auto  bg-gray-700 hover:bg-blue-300  focus:ring-4 focus:outline-none focus:ring-gray-300 
        text-white rounded-lg inline-flex items-center justify-center px-4 py-2.5 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700">
            <div class="text-center rtl:text-center ">
                <div class="mb-1 text-lg">Cargo</div>
                <div class="-mt-1 font-sans text-sm font-semibold">{{entidad!.cargo!.nombre}}</div>
            </div>
        </a>

        <a  class="w-full sm:w-auto  bg-gray-700 hover:bg-blue-300  focus:ring-4 focus:outline-none focus:ring-gray-300 
        text-white rounded-lg inline-flex items-center justify-center px-4 py-2.5 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700">
            <div class="text-center rtl:text-center ">
                <div class="mb-1 text-lg">Fecha de Ingreso</div>
                <div class="-mt-1 font-sans text-sm font-semibold">{{fechaFormat}}</div>
            </div>
        </a>
    </div>

    <hr class="w-48 h-1 mx-auto my-4 bg-gray-100 border-0 rounded md:my-10 dark:bg-gray-700">

    <!--div class="items-center pt-1 justify-center space-y-4 sm:flex sm:space-y-0 sm:space-x-4 rtl:space-x-reverse">

        @for (item of tiposEntidades; track $index) 
        {

            <span id="badge-dismiss-green" class="inline-flex items-center px-2 py-1 me-2 text-sm font-medium text-green-800 bg-green-100 rounded dark:bg-green-900 dark:text-green-300">
                
                @if(item.icono!=''|| item.icono!=null)
                {
                    <svg class="w-6 h-6 text-gray-800 dark:text-white"  xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" [attr.d]="item.icono" />
                      </svg>
                      
                }

                {{item.nombre}}
                <button type="button" class="inline-flex items-center p-1 ms-2 text-sm text-green-400 bg-transparent rounded-sm hover:bg-green-200 hover:text-green-900 dark:hover:bg-green-800 dark:hover:text-green-300" data-dismiss-target="#badge-dismiss-green" aria-label="Remove">
                    <svg class="w-2 h-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Remove badge</span>
                </button>
            </span>
        }

    
    </div-->
</div>

<br/>

<div class="w-full p-4 text-center bg-white border border-gray-200 rounded-lg shadow sm:p-6 dark:bg-gray-800 dark:border-gray-700">
    <div class="container  mx-auto flex sm:flex-nowrap flex-wrap ">
        <div class="lg:w-full md:w-1/2 bg-gray-300 flex flex-col md:ml-auto w-full h-min md:py-8 mt-8 md:mt-0 rounded p-5 bg-white dark:bg-gray-700 dark:text-white"> 
            <div class="bg-white relative flex flex-wrap py-6 rounded shadow-md w-full bg-white dark:bg-gray-800 dark:text-white flex flex-col">
             
                <h4>Accesos Permisos</h4>

                <div class="relative overflow-x-auto">
                    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                            <tr>
                                
                                <th scope="col" class="px-6 py-3">
                                    SubModulo
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Acción
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (item of subModuloByUserList(); track item.id) 
                            {
                                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                               
                                    <td class="px-6 py-4"  class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        {{item.subModulo.titulo}} (<i>{{item.subModulo.modulo.titulo}}</i> )
                                    </td>
                               
                                    <td class="px-6 py-4">
                                        <a (click)="deleteSubModuloXUsuario(item)" title="Eliminar" class="font-medium text-blue-600 dark:text-blue-500 hover:underline cursor-pointer">
                                            <svg class="w-6 h-6 text-gray-800 dark:text-white"   xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                 d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"/>
                                              </svg>
                                        </a>
                                    </td>
                                </tr>
                            }
                                   
                        </tbody>
                    </table>
                   
                    <nav class="flex items-center flex-column flex-wrap md:flex-row justify-between pt-4" aria-label="Table navigation modal" >
                        <ul class="inline-flex -space-x-px rtl:space-x-reverse text-sm h-8">
                            <li>
                                <button (click)="previousPageModal()">
                                    <a class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg 
                                    hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                        <span class="sr-only">Previous</span>
                                        <svg class="w-2.5 h-2.5 rtl:rotate-180"    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                                        </svg>
                                    </a>
                                </button>
                            </li>
                            <!--span>
                                <li>
                                    <a class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 
                                    hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{pagSM.paginaInicio}} de {{pagSM.paginaTotal}} </a>
                                </li>
                            </span-->
                        
                            <li>
                                <button  (click)="nextPageModal()" >
                                    <a [ariaDisabled]="" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 
                                    rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                        <span class="sr-only">Next</span>
                                        <svg class="w-2.5 h-2.5 rtl:rotate-180"   xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                                        </svg>
                                      </a>
                                </button>
            
                              </li>
                        </ul>
                    </nav>
            

                </div>
                
    
            </div>
        </div>

        <!--div class="lg:w-2/3 md:w-1/2 bg-gray-300 flex flex-col md:ml-auto w-full h-min md:py-8 mt-8 md:mt-0 rounded p-5 bg-white dark:bg-gray-700 dark:text-white"> 
            <div class="bg-white relative flex flex-wrap py-6 rounded shadow-md w-full bg-white dark:bg-gray-800 dark:text-white flex flex-col">
             
                <h4>Tipos de Entidad</h4>

                <div class="mt-5">
                    <div class="relative overflow-x-auto">
                        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-200">
                            <thead class="text-xs text-gray-800 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-200">
                                <tr>
                                    <th scope="col" class="px-6 py-3">
                                        Tipo Entidad
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Accion
                                    </th>
                                  
                                </tr>
                            </thead>
                            <tbody>
                               @for (item of tiposEntidades; track $index) 
                               {
                                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                   
                                    <td class="px-6 py-4">
                                        {{item.nombre}}
                                    </td>
                                    <td class="px-6 py-4">
                                        <a  title="Eliminar" class="font-medium text-blue-600 dark:text-blue-500 hover:underline cursor-pointer">
                                            <svg class="w-6 h-6 text-gray-800 dark:text-white"   xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"/>
                                              </svg>
                                        </a>
                                    </td>
                                </tr>
                               }
                            </tbody>
                        </table>
                    </div>
    
                </div>
            </div>
        </div-->
    </div>
</div>
