<app-title title="Contratos de Trabajador"/>


<div class="w-full p-4 text-center bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
    <h5 class=" text-3xl font-bold text-gray-900 dark:text-white">{{ListDetTrabContrato().nombres + ' ' + ListDetTrabContrato().apellidos}}</h5>
    @if(ListDetTrabContrato().correo != null){
        <p class=" text-base text-gray-500 sm:text-lg dark:text-gray-400">{{ListDetTrabContrato().correo}}</p>
    }
    <p class="mb-5 text-base text-gray-500 sm:text-lg dark:text-gray-400">{{ListDetTrabContrato().sexo}}</p>

    <div class="items-center justify-center space-y-4 sm:flex sm:space-y-0 sm:space-x-4 rtl:space-x-reverse">
        <a  class="w-full sm:w-auto bg-green-500 hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-300 text-white rounded-lg inline-flex items-center justify-center px-4 py-2.5 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700">
          
            <svg class="me-3 w-10 h-10 text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                <path fill-rule="evenodd" d="M4 4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2H4Zm10 5a1 1 0 0 1 1-1h3a1 1 0 1 1 0 2h-3a1 1 0 0 1-1-1Zm0 3a1 1 0 0 1 1-1h3a1 1 0 1 1 0 2h-3a1 1 0 0 1-1-1Zm0 3a1 1 0 0 1 1-1h3a1 1 0 1 1 0 2h-3a1 1 0 0 1-1-1Zm-8-5a3 3 0 1 1 6 0 3 3 0 0 1-6 0Zm1.942 4a3 3 0 0 0-2.847 2.051l-.044.133-.004.012c-.042.126-.055.167-.042.195.006.013.02.023.038.039.032.025.08.064.146.155A1 1 0 0 0 6 17h6a1 1 0 0 0 .811-.415.713.713 0 0 1 .146-.155c.019-.016.031-.026.038-.04.014-.027 0-.068-.042-.194l-.004-.012-.044-.133A3 3 0 0 0 10.059 14H7.942Z" clip-rule="evenodd"/>
              </svg>

            <div class="text-left rtl:text-right">
                <div class="mb-1 text-xs">Cédula</div>
                <div class="-mt-1 font-sans text-sm font-semibold">{{ListDetTrabContrato().dni}}</div>
            </div>
        </a>
        <a  class="w-full sm:w-auto bg-blue-800 hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-300 text-white rounded-lg inline-flex items-center justify-center px-4 py-2.5 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700">
            <svg class="me-3 w-10 h-10 text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path fill="currentColor" fill-rule="evenodd" d="M4 4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2H4Zm5.178 12.137a4.137 4.137 0 1 1 1.036-8.144A6.113 6.113 0 0 0 8.726 12c0 1.531.56 2.931 1.488 4.006a4.114 4.114 0 0 1-1.036.131ZM10.726 12c0-1.183.496-2.252 1.294-3.006A4.125 4.125 0 0 1 13.315 12a4.126 4.126 0 0 1-1.294 3.006A4.126 4.126 0 0 1 10.726 12Zm4.59 0a6.11 6.11 0 0 1-1.489 4.006 4.137 4.137 0 1 0 0-8.013A6.113 6.113 0 0 1 15.315 12Z" clip-rule="evenodd"/>
              </svg>
            <div class="text-left rtl:text-right">
                <div class="mb-1 text-xs">Código INSS</div>
                <div class="-mt-1 font-sans text-sm font-semibold">{{ListDetTrabContrato().codigo}}</div>
            </div>
        </a>
    </div>
    
    <div class="flex justify-end">
        <button (click)="openModalDatos()" class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 
            focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-xs px-3 py-1 dark:border-blue-500 dark:text-blue-500
            dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800 flex items-center transition-colors duration-200">
            <svg class="w-7 h-7" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
                      d="M9 5v14m8-7h-2m0 0h-2m2 0v2m0-2v-2M3 11h6m-6 4h6m11 4H4c-.55228 0-1-.4477-1-1V6c0-.55228.44772-1 
                         1-1h16c.5523 0 1 .44772 1 1v12c0 .5523-.4477 1-1 1Z"/>
            </svg>
            Agregar Contrato
        </button>
    </div>

    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <caption class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
                Contratos Activos
                <!--p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">Browse a list of Flowbite products designed to help you work and play, stay organized, get answers, keep in touch, grow your business, and more.</p-->
            </caption>
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                   
                    <th scope="col" class="px-6 py-3">
                        Cargo
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Dependencia
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Fecha de Inicio
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Fecha que Finaliza
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Tipo de Contrato
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Opciones
                    </th>
                 
                </tr>
            </thead>
            <tbody>
    
                @if(ListContratosActivos().length == 0)
                {
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <td class="px-6 py-4 text-center" colspan="6">
                            No hay Contratos Activos
                        </td>
                    </tr>
                }
                @else
                {
                    @for (item of ListContratosActivos(); track $index) 
                    {
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                {{item.cargo}}
                            </th>
                            <td class="px-6 py-4">
                                {{item.dependencia}}
                            </td>
                            <td class="px-6 py-4">
                                {{item.fechaInicio}}
                            </td>
                            <td class="px-6 py-4">
                                {{item.fechaFin}}
                            </td>
                            <td class="px-6 py-4">
                                {{item.tipoContrato}}
                            </td>
                            <td class="px-6 py-4 text-right">
                                
                                <a title="Finalizar Contrato" type="button" class="font-medium text-black dark:text-white dark:hover:text-yellow-300 hover:text-yellow-500 cursor-pointer    focus:ring-4 focus:outline-none focus:ring-blue-300">
                                    <svg class="w-6 h-6 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m15 9-6 6m0-6 6 6m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                                      </svg>
                                      
                                </a>

                                <!--a (click)="openCreateUser(item,'createUser-modal')" title="Crear una Cuenta de Usuario" data-modal-target="createUser-modal" data-modal-toggle="createUser-modal" class="font-medium text-blue-600 dark:text-blue-500 hover:underline cursor-pointer    focus:ring-4 focus:outline-none focus:ring-blue-300">
                                    <svg class="w-6 h-6 text-gray-800 dark:text-white"   xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                        <path fill-rule="evenodd" d="M9 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4H7Zm8-1a1 1 0 0 1 1-1h1v-1a1 1 0 1 1 2 0v1h1a1 1 0 1 1 0 2h-1v1a1 1 0 1 1-2 0v-1h-1a1 1 0 0 1-1-1Z" clip-rule="evenodd"/>
                                      </svg>
                                </a-->

                                <!--button title="Cancelar Contrato" type="button" class="text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900">
                                    <svg class="w-6 h-6 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="m6 6 12 12m3-6a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                                      </svg>
                                      
                                </button-->
                            </td>
                        </tr>
                    }
                }
             
            </tbody>
        </table>
    </div>
    

    <hr class="h-1.5 my-4 bg-gray-200 border-0 dark:bg-gray-700">
    <div class="inline-flex items-center justify-center w-full">
        <p class="text-2xl font-semibold text-gray-900 dark:text-white">Contratos Inactivos</p>
    </div>

    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">

        <div class="mat-elevation-z8">
          
            <table mat-table [dataSource]="dataSource">
                <caption class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
                    Contratos Administrativos
                    <!--p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">Browse a list of Flowbite products designed to help you work and play, stay organized, get answers, keep in touch, grow your business, and more.</p-->
                </caption>

                <ng-container matColumnDef="cargo">
                  <th mat-header-cell *matHeaderCellDef> Cargo </th>
                  <td mat-cell *matCellDef="let contrato"> {{contrato.cargo}} </td>
                </ng-container>
            
                <!-- Name Column -->
                <ng-container matColumnDef="dependencia">
                  <th mat-header-cell *matHeaderCellDef> Dependencia </th>
                  <td mat-cell *matCellDef="let contrato"> {{contrato.dependencia}} </td>
                </ng-container>
            
         
                <ng-container matColumnDef="fechaInicio">
                  <th mat-header-cell *matHeaderCellDef> Fecha de Inicio </th>
                  <td mat-cell *matCellDef="let contrato"> {{contrato.fechaInicio}} </td>
                </ng-container>
  
                <ng-container matColumnDef="fechaFin">
                  <th mat-header-cell *matHeaderCellDef> Fecha que Finaliza </th>
                  <td mat-cell *matCellDef="let contrato"> {{contrato.fechaFin}} </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            
              <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                             showFirstLastButtons
                             aria-label="Select page of periodic elements">
              </mat-paginator>

        </div>


    </div>
    
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">


           <table mat-table [dataSource]="dataSourceDoc">
                <caption class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
                    Contratos Docente
                    <!--p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">Browse a list of Flowbite products designed to help you work and play, stay organized, get answers, keep in touch, grow your business, and more.</p-->
                </caption>

                <ng-container matColumnDef="cargo">
                  <th mat-header-cell *matHeaderCellDef> Cargo </th>
                  <td mat-cell *matCellDef="let contrato"> {{contrato.cargo}} </td>
                </ng-container>
            
                <!-- Name Column -->
                <ng-container matColumnDef="dependencia">
                  <th mat-header-cell *matHeaderCellDef> Dependencia </th>
                  <td mat-cell *matCellDef="let contrato"> {{contrato.dependencia}} </td>
                </ng-container>
            
         
                <ng-container matColumnDef="fechaInicio">
                  <th mat-header-cell *matHeaderCellDef> Fecha de Inicio </th>
                  <td mat-cell *matCellDef="let contrato"> {{contrato.fechaInicio}} </td>
                </ng-container>
  
                <ng-container matColumnDef="fechaFin">
                  <th mat-header-cell *matHeaderCellDef> Fecha que Finaliza </th>
                  <td mat-cell *matCellDef="let contrato"> {{contrato.fechaFin}} </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumnsDoc"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsDoc;"></tr>
              </table>
            
              <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                             showFirstLastButtons
                             aria-label="Seleccione una Página">
              </mat-paginator>

    </div>
    
</div>



<app-add-contrato-modal PostType="add"></app-add-contrato-modal>