<app-title title="Evaluación" />
<div class="flex justify-between">
  <div class="example-action-buttons">
    <button class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800" mat-button (click)="accordion().openAll()"><span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
        Expandir todas
        </span></button>
    <button class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-red-200 via-red-300 to-yellow-200 group-hover:from-red-200 group-hover:via-red-300 group-hover:to-yellow-200 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-red-100 dark:focus:ring-red-400" mat-button (click)="accordion().closeAll()"><span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
        Colapsar todas
        </span></button>
  </div>
  <div>
    <button class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-green-400 to-blue-600 group-hover:from-green-400 group-hover:to-blue-600 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800">
      <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
        Comentario
      </span>
      </button>
  </div>
</div>

  <mat-accordion multi>
    @for (item of resultadoInstrumentoSignal(); track $index) {
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> {{item.dimension}} </mat-panel-title>
      </mat-expansion-panel-header>
      

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
              <th scope="col" class="px-6 py-3">
                  Pregunta
              </th>
              <th scope="col" class="px-6 py-3">
                  Escala
              </th>
              <th scope="col" class="px-6 py-3">
                  Valoración
              </th>
          </tr>
      </thead>
      <tbody>
        @for (preguntas of item.preguntas; track preguntas.respuestaId; let index = $index) {
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  {{ preguntas.nombre }}
              </th>
              <td class="px-6 py-4">
                {{ preguntas.escala }}
              </td>
              <td class="px-6 py-4">
                {{ preguntas.valoracion }}
              </td>
          </tr>
        }
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
        <th scope="col" class="px-6 py-3">
            Total
        </th>
        <td class="px-6 py-4">
          
        </td>
        <td class="px-6 py-4">
          {{ item.total }}
        </td>
        </tr>
      </tbody>
  </table>
</div>

    </mat-expansion-panel>
}
  </mat-accordion>

  @for (item of resultadoInstrumentoAbiertaSignal(); track $index) {
    

<div class="w-full mt-5 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

      <h5 class="mb-2 text-xl font-medium tracking-tight text-gray-900 dark:text-white">{{ item.preguntaAbiertaNombre }}</h5>

  <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ item.respuesta }}</p>
</div>
  }