<app-title title="Nuevo Trabajador"/>

<div class="mb-4 border-b border-gray-200 dark:border-gray-700">
    <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="default-styled-tab" data-tabs-toggle="#default-styled-tab-content" data-tabs-active-classes="text-purple-600 hover:text-purple-600 dark:text-purple-500 dark:hover:text-purple-500 border-purple-600 dark:border-purple-500" data-tabs-inactive-classes="dark:border-transparent text-gray-500 hover:text-gray-600 dark:text-gray-400 border-gray-100 hover:border-gray-300 dark:border-gray-700 dark:hover:text-gray-300" role="tablist">
        <li class="me-2" role="presentation">
            <button class="inline-block p-4 border-b-2 rounded-t-lg" id="profile-styled-tab" data-tabs-target="#styled-profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Datos Personales</button>
        </li>
        <li class="me-2" role="presentation">
            <button class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="contrato-styled-tab" data-tabs-target="#contrato" type="button" role="tab" aria-controls="contrato" aria-selected="false">Tipo de Trabajador y Contrato</button>
        </li>

        <li class="me-2" role="presentation">
            <button class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="dashboard-styled-tab" data-tabs-target="#styled-dashboard" type="button" role="tab" aria-controls="dashboard" aria-selected="false">Cuenta de Usuario</button>
        </li>

        <li class="me-2" role="presentation">
            <button class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="subModulo-styled-tab" data-tabs-target="#subModulos" type="button" role="tab" aria-controls="subModulo" aria-selected="false">Permisos</button>
        </li>
     
    </ul>
</div>
<div id="default-styled-tab-content">
    <form  [formGroup]="masterFormInput"  (ngSubmit)="onSubmit()">

        <div class="hidden p-3 rounded-lg bg-gray-50 dark:bg-gray-800" id="styled-profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="card w-full  h-min rounded-lg shadow-md">
                <div class="grid grid-cols-2 md:grid-cols-2 gap-2 ">
                    <div class=" flex flex-col md:ml-auto w-full h-min md:py-8 mt-8 md:mt-0 rounded p-3 bg-white dark:bg-gray-900 dark:text-white">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Datos Personales</h5>
    
                        <div class="grid gap-6 mb-6 md:grid-cols-2 sm:grid-cols-1">
                        
                            <div class="relative">
                                <label for="dni" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">DNI</label>
                                        <input type="text" formControlName="dni" name="dni" id="dni" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
                                         focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
                                          dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="XXX-XXXXXX-XXXXA" />
                            </div>

                            <div class="relative">
                                <label for="fechaNace" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fecha de Nacimiento</label>
                                        <input type="date" formControlName="fechaNace" name="fechaNace" id="fechaNace" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
                                         focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
                                          dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="" />
                            </div>
                        </div>
                        <div class="grid gap-6 mb-6 md:grid-cols-1 sm:grid-cols-1">
                            <div class="relative">
                                <label for="nombres" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombres</label>
                                <input type="text" formControlName="nombres" name="nombres" id="nombres" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
                                 focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
                                 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Anthony Edward" />

                               
                                    <div class="p-4 mt-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert" [hidden]="masterFormInput.controls.nombres.valid || !masterFormInput.controls.nombres.touched">
                                        <span class="font-medium">Alerta!</span> El campo Nombres es obligatorio
                                    </div>
                              
    
                            </div>
                            <div class="relative">
                                <label for="apellidos" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Apellidos</label>
                                <input type="text" formControlName="apellidos" name="apellidos" id="apellidos" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
                                 focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
                                 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Stark Jr." />

                                
                                    <div class="p-4 mt-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert" [hidden]="masterFormInput.controls.apellidos.valid || !masterFormInput.controls.apellidos.touched">  <!---!masterFormInput.controls.apellidos.pristine-->
                                        <span class="font-medium">Alerta!</span> El campo Apellidos es obligatorio
                                    </div>
                                 
                            </div>
                        </div>
                        <div class="grid gap-6 mb-6 md:grid-cols-2 sm:grid-cols-1">
                            <div class="relative">
                                <form [formGroup]="masterFormInput" class="w-full">
                                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Seleccione un Sexo</label>
                                    <select  name="sexoId" formControlName="sexoId" id="sexoId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500
                                        block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 
                                        dark:focus:border-blue-500">
                                        <option value="">--- Sexo ---</option>
                                        @for (item of sexoList(); track item.id) 
                                        {
                                            <option [value]="item.id">{{item.nombre}}</option>
                                        }
                                    </select>
                                    <div class="p-4 mt-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert" [hidden]="masterFormInput.controls.sexoId.valid || !masterFormInput.controls.sexoId.touched">  <!---!masterFormInput.controls.apellidos.pristine-->
                                        <span class="font-medium">Alerta!</span> El campo Sexo es obligatorio
                                    </div>
                                </form>
                            </div>
                      
                            <div class="relative">
                                <form [formGroup]="masterFormInput" class="w-full">
                                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Seleccione un Estado Civil</label>
                                    <select  name="estadoCivilId" formControlName="estadoCivilId" id="estadoCivilId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500
                                        block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 
                                        dark:focus:border-blue-500">
                                        <option value="">--- Estado Civil ---</option>
                                        @for (item of estadoCivils(); track item.id) 
                                        {
                                            <option [value]="item.id">{{item.nombre}}</option>
                                        }
                                    </select>
                                    <div class="p-4 mt-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert" [hidden]="masterFormInput.controls.estadoCivilId.valid || !masterFormInput.controls.estadoCivilId.touched">  <!---!masterFormInput.controls.apellidos.pristine-->
                                        <span class="font-medium">Alerta!</span> El campo Estado Civil es obligatorio
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="grid gap-6 mb-6 md:grid-cols-1 sm:grid-cols-1">
                            <div class="relative">
                                <label for="correoPersonal" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Correo Personal</label>
                                <input type="text" formControlName="correoPersonal" name="correoPersonal" id="correoPersonal" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
                                 focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
                                  dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="anthony.Stark@personal.com" />

                                    <div class="p-4 mt-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert" [hidden]="masterFormInput.controls.correoPersonal.valid">  <!---!masterFormInput.controls.apellidos.pristine-->
                                        <span class="font-medium">Alerta!</span> El campo Correo Personal es un correo
                                    </div>
                            </div>
                        </div>

                    </div>
                    <div class=" flex flex-col md:ml-auto w-full h-min md:py-8 mt-8 md:mt-0 rounded p-3 bg-white dark:bg-gray-900 dark:text-white">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Datos Generales</h5>
    
                      
                        <div class="grid gap-6 mb-6 md:grid-cols-2 sm:grid-cols-1">
                            <div class="relative">
                                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Pais</label>
                                    <select id="paisId"  (change)="onSelectedPais($event)" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500
                                        block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 
                                        dark:focus:border-blue-500">
                                        <option value="">--- Pais ---</option>
                                        @for (item of paisList(); track item.id) 
                                        {
                                            <option [value]="item.id">{{item.nombre}}</option>
                                        }
                                    </select>                              
                            </div>
                          
                    
                            <div class="relative">
                                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Departamento</label>
                                <select id="paisId"  (change)="onSelectedDepartamento($event)" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500
                                    block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 
                                    dark:focus:border-blue-500">
                                    <option value="">--- Departamento ---</option>
                                    @for (item of departamentoList(); track item.id) 
                                    {
                                        <option [value]="item.id">{{item.nombre}}</option>
                                    }
                                </select>
                          
                            </div>
                        </div>

                        <div class="grid gap-6 mb-6 md:grid-cols-1 sm:grid-cols-1">
                            <div class="relative">
                                <form [formGroup]="masterFormInput" class="w-full">
                                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Municipio</label>
                                <select id="municipioId"   name="municipioId" formControlName="municipioId"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500
                                    block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 
                                    dark:focus:border-blue-500">
                                    <option value="">--- Departamento ---</option>
                                    @for (item of municipioList(); track item.id) 
                                    {
                                        <option [value]="item.id">{{item.nombre}}</option>
                                    }
                                </select>

                                <div class="p-4 mt-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert" [hidden]="masterFormInput.controls.municipioId.valid || !masterFormInput.controls.municipioId.touched">  <!---!masterFormInput.controls.apellidos.pristine-->
                                    <span class="font-medium">Alerta!</span> El campo Municipio es obligatorio
                                </div>
                                </form>
                            </div>
                        </div>
                 
                        <div class="grid gap-6 mb-6 md:grid-cols-2 sm:grid-cols-1">
                            <div class="relative">
                                <label for="codigo" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Telefono/Celular 1</label>
                                        <input type="text" formControlName="telefono1" name="telefono1" id="telefono1" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
                                         focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
                                          dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="0000 0000" />

                                          <div class="p-4 mt-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert" [hidden]="masterFormInput.controls.municipioId.valid || !masterFormInput.controls.municipioId.touched">  <!---!masterFormInput.controls.apellidos.pristine-->
                                            <span class="font-medium">Alerta!</span> Este Numero de Telefono es obligatorio
                                        </div>    
                            </div>
                            <div class="relative">
                                <label for="dni" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Telefono/Celular 2</label>
                                        <input type="text" formControlName="telefono2" name="telefono2" id="telefono2" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
                                         focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
                                          dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="0000 0000" />
                            </div>
                        </div>
                 
                        <div class="grid gap-6 mb-4 md:grid-cols-1 sm:grid-cols-1">
                            <div class="relative">
                                <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Dirección</label>
                                <textarea  formControlName="direccion" name="direccion" id="direccion"  rows="6"  class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300
                                 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                                  dark:focus:ring-blue-500 dark:focus:border-blue-500"  placeholder="Dirección"></textarea>
                                  
                                  <div class="p-4 mt-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert" [hidden]="masterFormInput.controls.direccion.valid || !masterFormInput.controls.direccion.touched">  <!---!masterFormInput.controls.apellidos.pristine-->
                                    <span class="font-medium">Alerta!</span> El campo Dirección es obligatorio
                                    </div>    
                            </div>
                          
                        </div>
                 
                        
                    </div>

                </div>
            </div>
        </div>
        
        <div class="hidden p-3 rounded-lg bg-gray-50 dark:bg-gray-800" id="contrato" role="tabpanel" aria-labelledby="contrato-tab">
            <div class="card w-full  h-min rounded-lg shadow-md">
                <div class="grid grid-cols-2 md:grid-cols-2 gap-2 ">
                    <div class=" flex flex-col md:ml-auto w-full h-min md:py-8 mt-8 md:mt-0 rounded p-3 bg-white dark:bg-gray-900 dark:text-white">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Institucional</h5>


                        <div class="grid gap-6 mb-6 md:grid-cols-2 sm:grid-cols-1">
                        
                            <div class="relative">
                                <label for="codigo" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Código</label>
                                        <input type="text" formControlName="codigo" name="codigo" id="codigo" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
                                         focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
                                          dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="00000" />
                            </div>

                            <div class="relative">
                                <label for="fechaIngreso" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fecha de Ingreso</label>
                                        <input type="date" formControlName="fechaIngreso" name="fechaIngreso" id="fechaIngreso" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
                                         focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
                                          dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="" />


                                        <div class="p-4 mt-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert" [hidden]="masterFormInput.controls.fechaIngreso.valid || !masterFormInput.controls.fechaIngreso.touched">  <!---!masterFormInput.controls.apellidos.pristine-->
                                            <span class="font-medium">Alerta!</span> El campo Fecha de Ingreso es obligatorio
                                        </div> 
                            </div>
                        </div>
                    
                        <div class="grid gap-6 mb-6 md:grid-cols-1">
                            <div class="relative">
                                <form [formGroup]="masterFormInput" class="w-full">
                                    <label for="dependenciaId" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Seleccione una dependencia</label>
                                    <select (change)="onSelectedDependencia($event)" id="dependenciaId" formControlName="dependenciaId" name="dependenciaId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg 
                                        focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-900 dark:border-gray-600 dark:placeholder-gray-400 
                                        dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                        <option value="">--- Dependencia ---</option>
                                        @for (itemD of dependenciaList(); track itemD.id) 
                                        {
                                            <option [value]="itemD.id">{{itemD.nombre}}</option>
                                        }
                                    </select>

                                    <div class="p-4 mt-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert" [hidden]="masterFormInput.controls.dependenciaId.valid || !masterFormInput.controls.dependenciaId.touched">  <!---!masterFormInput.controls.apellidos.pristine-->
                                        <span class="font-medium">Alerta!</span> El campo Dependencia obligatorio
                                    </div> 
                                </form>
                            </div>
                         
                        </div>

                        <div class="grid gap-6  md:grid-cols-1">
                            <form  class="w-full">
                                <label class="block text-sm font-medium text-gray-900 dark:text-white">Selecione un Cargo</label>
                                <mat-form-field  class="w-full h-auto"  appearance="outline">
                                  <input type="text" (input)="filterCargos($event)" 
                                         placeholder="Cargo..."
                                         aria-label="Cargo"
                                         matInput
                                         [formControl]="cargoIdControl"
                                         [matAutocomplete]="autoFC">
                                  <mat-autocomplete [displayWith]="displayFnC"  #autoFC="matAutocomplete"  id="cargoId"   name="cargoId" (optionSelected)="onSelectCargo($event)">
                                    @for (item of cargoList() ; track item) {
                                      <mat-option [value]="item">{{item.nombre}}</mat-option>
                                    }
                                  </mat-autocomplete>
                                </mat-form-field>


                                <div class="p-4 mt-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert" [hidden]="masterFormInput.controls.cargoId.valid || !masterFormInput.controls.cargoId.touched">  <!---!masterFormInput.controls.apellidos.pristine-->
                                    <span class="font-medium">Alerta!</span> El campo Dependencia obligatorio
                                </div> 

                              </form>
                        </div>

                    </div>
        
                    <div class=" flex flex-col md:ml-auto w-full h-min md:py-8 mt-8 md:mt-0 rounded p-3 bg-white dark:bg-gray-900 dark:text-white">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Contrato</h5>
                        <div class="grid gap-6 mb-6 md:grid-cols-1">

                            <div class="relative">
                                <form [formGroup]="masterFormInput" class="w-full">
                                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Seleccione un Tipo de Contrato</label>
                                    <select  name="tipoContratoId" formControlName="tipoContratoId" id="tipoContratoId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500
                                        block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 
                                        dark:focus:border-blue-500">
                                        <option value="">--- Tipo de Contratos ---</option>
                                        @for (item of tipoContratoList(); track item.id) 
                                        {
                                            <option [value]="item.id">{{item.nombre}}</option>
                                        }
                                    </select>
                                </form>
                            </div>
                            
                        </div>
        
                        <div class="grid gap-6 mb-6 md:grid-cols-2 sm:grid-cols-1">
                            <div class="relative ">
                                <label for="fechaInicio" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fecha de  Inicio</label>
                                <div class="relative max-w-sm">
                                    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                            fill="currentColor" viewBox="0 0 20 20">
                                            <path  d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                                        </svg>
                                    </div>
                                    <input formControlName="fechaInicio" name="fechaInicio" id="fechaInicio" type="date" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm 
                                                                    rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                                                                     dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="DD/MM/yyyy">
                                </div>
                            </div>
                            <div class="relative ">
                                <label for="fechaFin" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fecha que Finaliza</label>
                                <div class="relative max-w-sm">
                                    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                                            xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                            <path
                                                d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                                        </svg>
                                    </div>
                                    <input formControlName="fechaFin" name="fechaFin" id="fechaFin"
                                        type="date" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm 
                                        rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                                         dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="DD/MM/yyyy">
                                </div>
    
    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="styled-dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
            <div class="card w-full  h-min rounded-lg  item">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                    <div class=" flex flex-col md:ml-auto w-full h-min md:py-8 mt-8 md:mt-0 rounded p-3 bg-white dark:bg-gray-900 dark:text-white">
    
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Cuenta de  Usuario</h5>
    
                        <div class="relative mb-3">
                            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Correo</label>
                            <input type="email" id="email" formControlName="email" name="email"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
                                 focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
                                  dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="jose.maquez@uncsm.edu.ni" />
                        </div>
                        <div class="grid gap-6 mb-3 md:grid-cols-2">
                            
                            <div class="relative">
                                <label for="Pass" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contraseña</label>
                                <input formControlName="password" name="password" id="password"  [type]="showPassword ? 'text' : 'password'"  class="block w-full pr-10 px-2.5 pb-2.5 pt-4 text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
                                <button type="button" (click)="togglePasswordVisibility()" class="absolute top-10 right-0 pr-3 text-sm">
                                    @if (!showPassword) {
                                        <svg class="w-6 h-6 text-gray-800 dark:text-white"   xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3.933 13.909A4.357 4.357 0 0 1 3 12c0-1 4-6 9-6m7.6 3.8A5.068 5.068 0 0 1 21 12c0 1-3 6-9 6-.314 0-.62-.014-.918-.04M5 19 19 5m-4 7a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                                          </svg>
                                       }
                                       @if (showPassword) {
                                        <svg class="w-6 h-6 text-gray-800 dark:text-white"   xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                            <path fill-rule="evenodd" d="M4.998 7.78C6.729 6.345 9.198 5 12 5c2.802 0 5.27 1.345 7.002 2.78a12.713 12.713 0 0 1 2.096 2.183c.253.344.465.682.618.997.14.286.284.658.284 1.04s-.145.754-.284 1.04a6.6 6.6 0 0 1-.618.997 12.712 12.712 0 0 1-2.096 2.183C17.271 17.655 14.802 19 12 19c-2.802 0-5.27-1.345-7.002-2.78a12.712 12.712 0 0 1-2.096-2.183 6.6 6.6 0 0 1-.618-.997C2.144 12.754 2 12.382 2 12s.145-.754.284-1.04c.153-.315.365-.653.618-.997A12.714 12.714 0 0 1 4.998 7.78ZM12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" clip-rule="evenodd"/>
                                          </svg>
                                          
                                       }
                                </button>
                            </div>
                            <div class="relative">
                                <label for="Pass" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirmar Contraseña</label>
                                <input formControlName="confirmPassword" name="confirmPassword" id="confirmPassword" [type]="showPasswordRe ? 'text' : 'password'" id="Pass" value="" class="block w-full pr-10 px-2.5 pb-2.5 pt-4 text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
                                <button type="button" (click)="togglePasswordVisibilityRe()" class="absolute top-10 right-0 pr-3 text-sm">
                                    @if (!showPasswordRe) {
                                        <svg class="w-6 h-6 text-gray-800 dark:text-white"   xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3.933 13.909A4.357 4.357 0 0 1 3 12c0-1 4-6 9-6m7.6 3.8A5.068 5.068 0 0 1 21 12c0 1-3 6-9 6-.314 0-.62-.014-.918-.04M5 19 19 5m-4 7a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                                          </svg>
                                          
                                       }
                                       @if (showPasswordRe) {
                                        <svg class="w-6 h-6 text-gray-800 dark:text-white"   xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                            <path fill-rule="evenodd" d="M4.998 7.78C6.729 6.345 9.198 5 12 5c2.802 0 5.27 1.345 7.002 2.78a12.713 12.713 0 0 1 2.096 2.183c.253.344.465.682.618.997.14.286.284.658.284 1.04s-.145.754-.284 1.04a6.6 6.6 0 0 1-.618.997 12.712 12.712 0 0 1-2.096 2.183C17.271 17.655 14.802 19 12 19c-2.802 0-5.27-1.345-7.002-2.78a12.712 12.712 0 0 1-2.096-2.183 6.6 6.6 0 0 1-.618-.997C2.144 12.754 2 12.382 2 12s.145-.754.284-1.04c.153-.315.365-.653.618-.997A12.714 12.714 0 0 1 4.998 7.78ZM12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" clip-rule="evenodd"/>
                                          </svg>
                                          
                                       }
                                </button>
                            </div>
                          
                        </div>
                        <div class="relative  mb-3">
                            <label for="telefono" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Teléfono</label>
                            <input type="text" formControlName="telefono" name="telefono" id="telefono" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
                                 focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
                                  dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="xxxx-xxxx" />
                        </div>
    
                    </div>
    
                    <div class=" flex flex-col md:ml-auto w-full h-min md:py-8 mt-8 md:mt-0 rounded p-5 bg-white dark:bg-gray-900 dark:text-white">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Imagen de Perfil</h5>
                        <app-fdropzone [img]="null">
                        </app-fdropzone>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="subModulos" role="tabpanel" aria-labelledby="subModulo-tab">
            <div class="card w-full h-min rounded-lg ">
                <div class="grid grid-cols-1 gap-4">
                   
                    <div class=" flex flex-col md:ml-auto w-full h-min md:py-8 mt-8 md:mt-0 rounded p-5 bg-white dark:bg-gray-900 dark:text-white">
    
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Submodulos</h5>
    
                        <div class="grid gap-6 mb-6 md:grid-cols-2">
                            <div class="relative">
                                <form>
                                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Selecione un Modulo</label>
                                    <select  id="moduloId"  (change)="onSelectedModulo($event)" name="moduloId" class="bg-gray-50 border 
                                    border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 
                                    focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 
                                    dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                    <option value="">--- Seleccione ---</option>
                                      @for (item of moduloList(); track item.id) 
                                      {
                                        <option [value]="item.id">{{item.titulo}}</option>
                                      }
                                    </select>
                                </form>
                            </div>
                            <div class="relative">
                                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Selecione un SubModulo</label>
                                <mat-form-field class="w-full h-auto"  appearance="outline">
                                    <input (input)="filterSubModulos($event)" 
                                    type="text" 
                                    matInput 
                                    aria-label="Titulo" 
                                    placeholder="SubModulo..." 
                                    [matAutocomplete]="autok" #inputSub >
                                    <mat-autocomplete [displayWith]="displayFn" #autok="matAutocomplete" id="subModuloId" 
                                    name="subModuloId" (optionSelected)="onSelectSubModulo($event)">
                                        @for (item of filteredSubModulos; track item.id) 
                                        {
                                            <mat-option [value]="item">
                                                <span>{{item.titulo}}</span>
                                            </mat-option>
                                        }
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
                        </div>
    
                        <!-- Tabla -->
                        <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
                            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                    <tr>
                                        
                                        <th scope="col" class="px-6 py-3">
                                            SubModulo
                                        </th>
                                        <th scope="col" class="px-6 py-3">
                                            Acción
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (item of paginated; track item.id) 
                                    {
                                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                       
                                            <td class="px-6 py-4"  class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                                {{item.titulo}} <span class="text-xs text-gray-900 dark:text-white">({{item.modulo.titulo}})</span>
                                            </td>
                                       
                                            <td class="px-6 py-4">
                                                <a  (click)="deleteSubModuloXUsuario(item)"  title="Eliminar" class="font-medium text-blue-600 dark:text-blue-500 hover:underline cursor-pointer">
                                                    <svg class="w-6 h-6 text-gray-800 dark:text-white"   xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                         d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"/>
                                                      </svg>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                           
                                </tbody>
                            </table>
                           
                            <nav class="flex items-center flex-column flex-wrap md:flex-row justify-between pt-4" aria-label="Table navigation modal" >
                                <ul class="inline-flex -space-x-px rtl:space-x-reverse text-sm h-8">
                                    <li>
                                        <button  (click)="previousPage()" [disabled]="currentPage === 1">
                                            <a class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg 
                                            hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                                <span class="sr-only">Previous</span>
                                                <svg class="w-2.5 h-2.5 rtl:rotate-180"    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                                                </svg>
                                            </a>
                                        </button>
                                    </li>
                                    <!--span>
                                        <li>
                                            <a class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 
                                            hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{pagSM.paginaInicio}} de {{pagSM.paginaTotal}} </a>
                                        </li>
                                    </span-->
                                
                                    <li>
                                        <button (click)="nextPage()" [disabled]="currentPage * pageSize >= subModulosT.length" >
                                            <a [ariaDisabled]="" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 
                                            rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                                <span class="sr-only">Next</span>
                                                <svg class="w-2.5 h-2.5 rtl:rotate-180"   xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                                                </svg>
                                              </a>
                                        </button>
                    
                                      </li>
                                </ul>
                            </nav>
                        </div>


                    </div>
                </div>
            </div>
            
            <div class="grid grid-cols-1 p-6 gap-4">
                <div class="card w-full h-min rounded-lg p-1 flex justify-end">
                    <button type="submit"  class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none 
                    focus:ring-blue-100 font-medium rounded-lg text-lg px-5 py-2.5 text-center me-2 mb-2 dark:border-blue-500 dark:text-blue-500 
                    dark:hover:text-white dark:hover:bg-blue-800 dark:focus:ring-blue-800">Guardar</button>
                </div>
            </div>

        </div>
    </form>
</div>