<app-title title="Tipos de Evaluaciones" ></app-title>
<section class="text-gray-600 body-font relative">
    <div class="container py-2 mx-auto flex sm:flex-nowrap flex-wrap">
        <div class="w-full mr-4">
            <div class="gap-3 grid sm:grid-cols-1 md:grid-cols-2">
                @for (tipos of tipos(); track $index) {
                <div
                    class="hover-scale flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                    <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg"
                        src="/assets/img/ep.jpg" alt="">
                    <div class="flex flex-col justify-between p-4 leading-normal">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                            {{tipos.nombre}}</h5>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{tipos.descripcion}}</p>
                        <div class="flex justify-between items-center">
                            <a (click)="openModalPorcentaje(tipos)" class="inline-flex items-center px-3 py-2 text-purple-700 hover:text-white border border-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-purple-400 dark:text-purple-400 dark:hover:text-white dark:hover:bg-purple-500 dark:focus:ring-purple-900 cursor-pointer">
                                % de evaluación
                                 <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                                </svg>
                            </a>
                            <a [routerLink]="['/sed/tipo-trabajador/', tipos.id]" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                Ver instrumentos
                                 <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                                </svg>
                            </a>
                        </div>
                        
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</section>

<app-modal-porcentaje (outputEmit)="actualizarPorcentaje($event)" />