
<div class="flex justify-between items-start w-full">
    <div>
<!-- Título a la Izquierda -->
<h1 class="text-3xl mb-1 text-black dark:text-white font-bold">
  Inicio
</h1>
  <hr class="border bg-gray-500 dark:bg-white decoration-8 decoration-blue-400 dark:decoration-blue-600 pb-1 mb-8 rounded w-16 " />
  </div>
  <button class="btn btn--alt">
    <span class="text">Evaluaciones</span>
    <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 6v12M8 6v12l8-6-8-6Z"/>
    </svg>
</button>
</div>
<div class="flex flex-col items-center pb-10 md:grid md:grid-cols-3 gap-3 md:gap-6">
<div class="container">
  <div class="card-container">
    <a [routerLink]="['/sed/personal/']">
      <div class="rounded-lg"> 
        <div class="w-[220px] h-[350px] relative">
          <img src="/assets/img/fondo-dark.png" alt="gameCard" class="w-full h-full object-cover object-bottom [object-position:right_bottom]">
          <span class="absolute top-1/4 left-1/2 transform -translate-x-1/2 -translate-y-3/4 text-xl text-[#CBAC7B] font-bold text-center italic font-serif ">Evaluación al Desempeño</span>
        </div>
      </div>
    </a>
  </div>
</div>

</div>

