
<div class="flex justify-between items-start w-full">
    <div>
<!-- Título a la Izquierda -->
<h1 class="text-3xl mb-1 text-black dark:text-white font-bold">
  Inicio
</h1>
  <hr class="border bg-gray-500 dark:bg-white decoration-8 decoration-blue-400 dark:decoration-blue-600 pb-1 mb-8 rounded w-16 " />
  </div>

</div>
<div class="flex flex-col items-center pb-10 md:grid md:grid-cols-2 lg:grid-cols-3 gap-3 md:gap-6">
  @if(countPersonal()){
    <div class="container">
      <div class="card-container">
        <a [routerLink]="['/sed/personal/']">
          <div class="rounded-lg"> 
            <div class="w-[220px] h-[350px] relative">
              <img src="/assets/img/fondo-dark.png" alt="gameCard" class="w-full h-full object-cover object-bottom [object-position:right_bottom]">
              <span class="absolute top-1/4 left-1/2 transform -translate-x-1/2 -translate-y-3/4 text-2xl text-[#CBAC7B] font-bold text-center italic font-serif ">Evaluaciones al Personal</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  }
  <div class="container">
    <div class="card-container">
      <a [routerLink]="['/sed/resultados/']">
        <div class="rounded-lg"> 
          <div class="w-[220px] h-[350px] relative">
            <img src="/assets/img/fondo-dark.png" alt="gameCard" class="w-full h-full object-cover object-bottom [object-position:right_bottom]">
            <span class="absolute top-1/4 left-1/2 transform -translate-x-1/2 -translate-y-3/4 text-2xl text-[#CBAC7B] font-bold text-center italic font-serif ">Resultados de la Evaluación</span>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

