<app-title title="Aplicación de la Evaluación" />
@if(EvaluadoSignal())
{
<div class="flex flex-col items-center">
    <p class="text-black dark:text-white font-medium text-xl">Universidad Nacional Casimiro Sotelo Montenegro</p>
    <p class="text-black dark:text-white font-medium text-xl">Coordinación Gestión de Talento Humano</p>
    <p class="text-black dark:text-white font-medium text-xl">Selección y Contratación de Personal</p>
    <p class="text-black dark:text-white font-medium text-xl">Evaluación al Desempeño</p>
    <p class="text-black dark:text-white font-medium text-xl">Categoria: 
                {{ EvaluadoSignal().tipoTrabajador?.nombre }}
         </p>
</div>

<div class="flex flex-col items-left mb-5">
    <p class="text-black dark:text-white font-medium text-xl">I. Datos Generales:</p>
    <table>
        <tr>
            <td><p class="text-black dark:text-white font-normal text-lg">Nombres y Apellidos: </p></td>
            <td class="text-black dark:text-white font-normal text-lg">{{ EvaluadoSignal()?.persona?.nombres }} {{ EvaluadoSignal().persona?.apellidos }}</td>
        </tr>
        <tr>
            <td><p class="text-black dark:text-white font-normal text-lg">Puesto que ocupa: </p></td>
            <td class="text-black dark:text-white font-normal text-lg">{{ EvaluadoSignal().cargo?.nombre }}</td>
        </tr>
        <tr>
            <td><p class="text-black dark:text-white font-normal text-lg">Fecha de Ingreso: </p></td>
            <td class="text-black dark:text-white font-normal text-lg">{{ EvaluadoSignal().trabajador?.fechaIngreso | date }} Consultar</td>
        </tr>
        <tr>
            <td><p class="text-black dark:text-white font-normal text-lg">Período a Evaluar: </p></td>
            <td class="text-black dark:text-white font-normal text-lg">Consultar</td>
        </tr>
        <tr>
            <td><p class="text-black dark:text-white font-normal text-lg">Fecha de Evaluación: </p></td>
            

            <td class="text-black dark:text-white font-normal text-lg">{{ dateNow() | date }}</td>
        </tr>
    </table>
</div>
    
}
<!-- <pre class="text-white">{{InstrumentoSignal() | json}}</pre> -->
@if(InstrumentoSignal())
{
<table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-200">
    <thead class="text-xs text-gray-800 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-200">
        <tr>
            <th scope="col" class="px-6 py-3">
                
            </th>
            <th scope="col" class="px-6 py-3 text-base">
              Dimensiones
            </th>
        </tr>
    </thead>
    <tbody>
      @for (dv of InstrumentoSignal().dimensiones; track $index) {
        @if(dv.preguntasCerradas!=null && dv.preguntasCerradas!.length > 0)
        {
        <tr class="text-xs text-gray-700 bg-gray-50 dark:bg-gray-600 dark:text-gray-100 hover:bg-gray-50 dark:hover:bg-gray-700">
            <th scope="row" class="px-6 py-4 font-bold text-gray-900 whitespace-nowrap dark:text-white w-px text-sm" >

            </th>
            <td class="px-6 py-4 text-sm font-bold">
                {{ dv.nombre }}
            </td>
        </tr>
        <tr class="text-xs text-gray-700 bg-gray-50 dark:bg-gray-600 dark:text-gray-100">
          <td></td>
          <td>
            
              @for (p of dv.preguntasCerradas; track p.id;let indexp = $index) {
                
              @if(dv.id == p.dimesionId)
              {
              <tr class="text-xs w-full text-gray-700 bg-gray-50 dark:bg-gray-500 dark:text-gray-100 hover:bg-gray-50 dark:hover:bg-gray-600">
              <th scope="row" class="px-6 py-4 font-bold text-sm text-gray-900 whitespace-nowrap dark:text-white w-px ">
                  
              </th>
              <td class="px-6 py-4 w-full text-sm">
                  {{ p.nombre }}
              </td>
              <td class="px-6 py-4 flex">
               
            </td>
          </tr>
      }
      }
      </td>
        </tr>
      }
    }
      @empty {
        <div class="p-4 m-4 text-sm text-yellow-800 rounded-lg bg-yellow-50 dark:bg-gray-700 dark:text-yellow-300" role="alert">
          <span class="font-medium">Alerta!</span> No hay datos que mostrar.
        </div>
      }
    </tbody>
</table>
}