
<div class="flex items-center justify-center w-full">
    <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-full border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
        @if(previewImage)
        {
            <img [src]="previewImage " alt="Preview Image" class="max-w-full h-auto">
        }@else{
            <div class="flex flex-col items-center justify-center pt-5 pb-6">
        
  
                <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
   
            </div>
        }
        <input id="dropzone-file" type="file" class="hidden"  (change)="onFileSelected($event)" />
    </label>
</div>